.body{
    background-color: #cccea7;
}

.container{
    width: 600px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.box{
    display: none;
}
.box-active{
    width: 800px;
    height: 150px;
    border: 1px solid black;
    color: black;
    background-color: cadetblue;
    position: fixed;
    left: 20.8%;
    top: 15%;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    opacity: 0.8;
    display: flex;
};